.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #ff8dcb;
  --shadow-color: #ff0070;
  --active-color: #353430;
  --background-cover-image: url(../images/cover-image-light.png);
  --title-color: #ffc2e6;
  --hover-color: #353430;
  --main-color: #353430;
  --main-font: "IBM Plex Mono", sans-serif;
  --main-text-size: 18px;
  --second-color: #353430;
  --main-title-color: #353430;
  --rec-visibility: hidden;
  --shadow-link-color: #ff8dcb;
  --header-button-color: #353430;
  --rec-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --shadow-color: #ff0070;
    --active-color: #353430;
    --background-cover-image: url(../images/cover-image-light.png);
    --title-color: #ffc2e6;
    --hover-color: #353430;
    --main-color: #353430;
    --main-font: "IBM Plex Mono", sans-serif;
    --main-text-size: 18px;
    --second-color: #353430;
    --main-title-color: #353430;
    --rec-visibility: hidden;
    --shadow-link-color: #ff8dcb;
    --header-button-color: #353430;
    --rec-color: #353430;
  }
}
