/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-image: var(
    --background-cover-image,
    url(../images/cover-image-dark.png)
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow: auto;
}

.header {
  min-width: 375px;
  height: 100vh;
  min-block-size: 668px;
  display: grid;
  position: relative;
  grid-template-rows: 1fr min-content 1fr;
}

.header-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-color);
  line-height: 95.7px;
  text-shadow: 4px 4px 0 var(--shadow-color);
  justify-self: start;
  align-self: center;
}

.header-text {
  color: var(--main-color);
  background-color: var(--accent-color);
  font-family: var(--main-font);
  font-size: var(--main-text-size);
  line-height: 23.4px;
  font-weight: 700;

  margin-inline-start: 10px;
  margin-inline-end: 10px;

  justify-self: end;
  align-self: center;
}

.header__theme-menu {
  justify-self: end;
  margin-inline-end: 10px;
  align-self: center;
  height: 98px;
}

.header__theme-menu-button {
  background-color: transparent;
  color: var(--header-button-color);
  font-family: var(--main-font);
  text-transform: lowercase;
  font-weight: 400;
  font-size: var(--main-text-size);
  border: none;
  cursor: pointer;
  width: 100%;
}
.header__theme-menu-item {
  width: 100%;
}
.header__theme-menu-list {
  list-style: none;
  display: grid;
  gap: 10px;
  grid-template-columns: 70px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  border-inline-end: 1px solid var(--rec-color);
  border-block-start: 1px solid var(--rec-color);
  justify-self: end;
  top: 10px;
  right: 10px;
}

.decorated-zone::after {
  border-inline-start: 1px solid var(--rec-color);
  border-block-end: 1px solid var(--rec-color);
  bottom: 10px;
  left: 10px;
  align-self: end;
}
.rec-decor {
  position: absolute;
  font-family: var(--main-font);
  font-weight: 400;
  visibility: var(--rec-visibility, visible);
  display: inline-flex;
  align-items: center;
  gap: 10px;
  inset-inline-end: 20px;
  inset-block-start: 10px;
}

.rec-decor::before {
  content: "REC";
  color: var(--accent-color, #ff0070);
  line-height: 24px;
}

.rec-decor::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color, #ff0070);
  background: var(--accent-color, #ff0070);
  inline-size: 9px;
  block-size: 9px;
}

.main {
  min-width: 375px;
  display: grid;
  gap: 50px;
  margin-block-start: 40px;
}
.card {
  margin-inline-start: 10px;
  margin-inline-end: 10px;
}
.main_title {
  font-size: var(--main-text-size);
  color: var(--main-title-color);
  font-weight: 700;
  font-family: var(--main-font);
  margin-block-start: 0px;
  margin-block-end: 20px;
  width: 100%;
  line-height: 23.4px;
}

.name-of-card {
  width: 100%;
  background-color: var(--accent-color);
  font-family: var(--main-font);
  font-size: var(--main-text-size);
  font-weight: 700;
  margin-block-start: 20px;
}

.text_in_card {
  color: var(--second-color);
  font-family: var(--main-font);
  font-size: var(--main-text-size);
  font-weight: 400;
  width: 100%;
  line-height: 23.4px;
  margin-block-start: 10px;
}

.title-decor {
  color: var(--main-color);
  background: var(--accent-color);
}

.name_of_card_normal_weight {
  font-weight: 400;
}
.name_of_card_gallery {
  width: 100%;
  margin-block-start: 0px;
  margin-block-end: 10px;
}
.gallery {
  margin-inline-start: 10px;
  margin-inline-end: 10px;
  margin-block-start: 50px;
}
.gallery-list {
  display: grid;
  gap: 10px;
  padding-left: 0;
}
.gallery-list-item {
  line-height: 0;
}

.gallery-photo {
  max-width: 100%;
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

.footer {
  min-width: 375px;

  display: grid;
  position: relative;
  align-content: center;
  justify-content: center;
  margin-block-start: 40px;
  height: 100vh;
  min-block-size: 668px;
}
.footer-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  color: var(--title-color);
  line-height: 95.7px;
  text-shadow: 2px 2px 0 var(--accent-color);
}
.header__theme-menu-button_active {
  outline: 1px solid var(--active-color, #ff0070);
  pointer-events: none;
}
.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}
.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--hover-color, #ff0070);
  outline: none;
}
.card-why {
  display: grid;
}
.card-how {
  display: grid;
}
.text-link {
  text-shadow: 2px 2px 0 var(--shadow-link-color);
  text-decoration: none;
}
.text-link:hover {
  border-bottom: 1px solid var(--second-color);
}
.text-link:focus {
  outline: none;
}
.text-link:focus-visible {
  outline: 1px solid var(--second-color);
}
.title_without_padding {
  margin-block-end: 0px;
}
@media (width>=768px) {
  .rec-decor {
    inset-inline-end: 29px;
    inset-block-start: 20px;
  }
  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header__theme-menu {
    margin-inline-end: 20px;
  }

  .header-text {
    margin-inline-end: 20px;
    margin-inline-start: 384px;
  }

  .header-title {
    justify-self: start;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  .gallery-list-item {
    min-width: 230px;
  }
  .gallery-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery-list-item:first-child,
  .gallery-list-item:last-child {
    grid-column-start: span 2;
  }

  .gallery-list-item:nth-child(2),
  .gallery-list-item:nth-child(3) {
    grid-row-start: span 2;
  }
  .gallery {
    margin-inline-start: 20px;
    margin-inline-end: 20px;

    margin-block-start: 80px;
  }
  .name_of_card_gallery {
    width: 100%;
    margin-block-end: 20px;
  }

  .card-why {
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }
  .card {
    margin-inline-start: 20px;
    margin-inline-end: 20px;
  }
  .card-how {
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }
  .text-card-how {
    display: grid;
    gap: 20px;
  }
  .name-of-card {
    margin-block-start: 0;
  }
  .main {
    gap: 80px;
    margin-block-start: 60px;
  }
  .main_title {
    max-width: 236px;
  }
  .card-what {
    display: grid;
    gap: 20px;
  }
  .text-card-why {
    display: grid;
    gap: 20px;
  }
}

@media (width>=1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
    margin-block-start: 20px;
  }
  .header__theme-menu-list {
    grid-template-columns: repeat(3, 70px);
  }
  .header__theme-menu-item {
    justify-self: center;
  }
  .header-text {
    margin-inline-start: 513px;
  }
  .header-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    align-self: center;
  }

  .card-why {
    grid-template-columns: 1fr 2.06fr;
  }

  .card-what {
    grid-template-columns: repeat(3, 1fr);
  }

  .name-of-card {
    width: 100%;
  }
  .gallery-list {
    gap: 25px 19px;
  }
  .main_title {
    max-width: 315px;
  }
  .name_of_card_gallery {
    margin-block-end: 20px;
  }
}
